/* Global font styling */

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Start type selectors */

body {
    background-color: rgba(16, 16, 193, 0.5);
    max-width: 80%;
}

img {
    width: auto;
    height: 300px;
    border-radius: 65px;
    box-shadow: 13px 13px 13px rgba(0, 0, 0, 0.5);
}

h1 {
    max-width: 35%;
    background-color:antiquewhite;
    padding: 20px;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
  color: black;
}

a:visited {
    color: darkblue;
}

a:focus, a:hover {
    border-bottom: 1px solid;
    color: white;
}